{% extends 'base.html.twig' %}

{% block title %}Post book{% endblock %}

{% block body %}
    {% for admin in admins %}

        {% if admin.username == session._sf2_attributes['_security.last_username'] %}
    <h3><a href="{{ path('user', {id: admin.id}) }}">My Posts</a></h3>
        {% endif %}
    {% endfor %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h2>Give your feedback!</h2>

    {% for post in posts %}
        <h3><a href="{{ path('post', {slug: post.slug}) }}">{{ post.title }}</a></h3>
        <h4>{{ post.text }}</h4>
    {% endfor %}
{% endblock %}
